.popup-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 2;
    /* @apply min-w-screen h-screen flex justify-center items-center w-full bg-[rgba(0,0,0,0.4)] fixed z-[2]; */
}

.popup-content {
    padding: 0.8rem;
    min-width: 34.375rem;
    max-width: 34.375rem;
    min-height: 23.75rem;
    max-height: 37.5rem;
    border: none;
    background-color: #ffffff;
    border-radius: 0.4rem;
    /* @apply p-3 min-w-[550px] max-w-[550px] min-h-[380px] max-h-[600px] border border-none bg-white rounded-lg; */
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.75rem;
    /* @apply flex justify-between items-center w-full mb-3; */
}

.popup-content-list {
    height: auto;
    /* @apply h-auto */
}

.popup-channelname {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
    /* @apply text-lg font-bold */
}

.channel-user-container {
    padding: 0.3rem;
    max-height: auto;
    /* @apply p-2 max-h-auto    */
}

.channel-users-list {
    max-height: 25rem;
    min-height: 15.625rem;
    overflow-y: auto;
    /* @apply max-h-[400px] min-h-[250px] overflow-y-auto divide-y divide-gray-100 scrollbar scrollbar-w-2 scrollbar-thumb-gray-300 scrollbar-thumb-rounded-lg; */
}

.channel-users-list::-webkit-scrollbar {
    width: 0.5rem;
}

.channel-users-list::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 0.25rem;
}

.channel-user-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    /* @apply flex items-center justify-between gap-x-6 px-2 py-5; */
}

.channel-user-avatar {
    display: flex;
    min-width: 0;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    /* @apply flex min-w-0 gap-x-4 relative */
}

.channel-user-avatar-name {
    height: 2.5rem;
    width: 2.5rem;
    flex: none;
    border-radius: 50%;
    background-color: #718096;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 1.25rem;
    /* @apply h-12 w-12 flex-none rounded-full bg-gray-500 flex items-center justify-center text-black text-2xl; */
}

.channel-user-status {
    position: absolute;
    top: 28px;
    left: 20px;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(255 255 255);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 9999px;
    /* @apply absolute top-[28px] left-[18px] text-xs text-white px-2 py-1 rounded-full; */
}

.channel-user-details {
    min-width: 0px;
    flex: 1 1 auto;
    /* @apply min-w-0 flex-auto */
}

.channel-user-details-name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #374151;
    /* @apply text-sm font-semibold leading-6 text-gray-900 */
}

.channel-user-admin-tag {
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(107 114 128);
    /* @apply text-xs text-gray-500 */
}

.channel-user-details-email {
    margin-top: 0.15rem;
    font-size: 0.75rem;
    line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(107 114 128);
    /* @apply mt-1 truncate text-xs leading-5 text-gray-500 */
}

.add-admin-button {
    font-size: 0.875rem;
    color: #ffffff;
    background-color: #3b82f6;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.375rem;
    /* @apply text-sm text-white bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded */
}

.add-admin-button:hover {
    background-color: #2563eb;
}

.channel-user-not-found {
    text-align: center;
    max-height: 400px;
    /* @apply text-center max-h-[400px] */
}

.channel-user-buttons {
    width: 100%;
    margin-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    /* @apply w-full mt-2 px-3 py-2 flex justify-end gap-4 items-center */
}

.channel-user-cancel-button {
    background-color: #2563eb;
    color: #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    /* @apply bg-blue-600 text-white py-2 px-4 rounded-xl */
}

.channel-user-add-button {
    background-color: #2563eb;
    color: #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    /* @apply bg-blue-600 text-white py-2 px-4 rounded-xl disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-blue-200 */
}

.channel-user-add-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.channel-user-add-button:disabled {
    background-color: #a5b4fc;
}

.selectedOption {
    background-color: #8fc1eb;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /* color: #ffffff; */
    cursor: pointer;
    /* @apply bg-blue-200 rounded-full flex items-center px-2 py-1 text-white-500 cursor-pointer */
}

.selectedOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    max-height: 7rem;
    padding: 0.5rem;
    margin: 0.25rem;
    overflow: auto;
}

.selectedOptions::-webkit-scrollbar {
    width: 0.5rem;
}

.selectedOptions::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 0.25rem; 
}

.remove-option {
    margin-left: 0.25rem;
    cursor: pointer;
    /* @apply ml-1 cursor-pointer */
}

.group-add-user-list-container {
    padding: 0.5rem;
    height: 300px;
    width: 525px;
    overflow-y: auto;
    /* @apply p-2 */
}

.search-user {
    border-radius: 0.375rem;
    color: #a5aec0;
    flex: 1;
    padding: 0.5rem;
    height: 100%;
    border: none;
    outline: none;
    /* @apply rounded placeholder:text-gray-400 flex-[1] p-2 h-full focus:border-0 border-0 outline-none focus:outline-none; */
}

.search-user::placeholder {
    color: #cbd5e0;
}

.filtered-user-list {
    max-height: 400px;
    min-height: 200px;
    /* @apply max-h-[400px] min-h-[200px] overflow-y-auto divide-y divide-gray-100 scrollbar scrollbar-w-2 scrollbar-thumb-gray-300 scrollbar-thumb-rounded-lg */
}

.filtered-user-list::-webkit-scrollbar {
    width: 1px;
}

.filtered-user-list::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 2px;
}

.focused-user {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    /* @apply cursor-pointer flex items-center justify-between gap-x-6 px-2 py-5; */
}

.add-user-not-found {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    min-height: 250px;
    /* @apply font-semibold text-lg text-center min-h-[250px]; */
}

.add-user-save-button {
    background-color: #2563eb;
    color: #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    /* @apply bg-blue-600 text-white py-2 px-4 rounded-xl disabled:bg-blue-200; */
}

.add-user-save-button:hover {
    background-color: #3b82f6;
}

.add-user-save-button:disabled {
    background-color: #a5b4fc;
    pointer-events: none;
    opacity: 0.5;
}